@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&family=Righteous&family=Source+Sans+Pro:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{scroll-behavior: smooth;}

.section-title{
    font-size: 40px;
    margin-bottom: 80px;
    font-weight: 800;
    color: white;
}

span.highlight {color: red;}

a:visited {color: #ffffff;}
a:link {color:white;}

/************************************* Sección INICIO *************************************/

#start{
    background: linear-gradient(rgba(0, 0, 0, 0.6), 
                                rgba(0, 0, 0, 0.6)), 
                                url(Imagenes/021.webp);
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

#start header{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    z-index: 150;
}

#header-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px 15px;
}

#header-content h1{
    font-size: 30px;
    color: red; 
    text-align: center;
    font-weight: bold;
}

#header-content .sections {display: flex;}

#header-content ul{
    display: flex;
    list-style: none;
    align-items: center;
}

#header-content ul li a{
    text-decoration: none;
    color: white;
    margin: 0 10px;
    font-weight: 800;
    transition: 0.7s;
}

#header-content ul li a:hover{color: red;}

#header-content ul li a.active{
    color: red;
    transition: 0.7s;
}

div.language{
    display: flex;
    flex-direction: column;
    position: relative;
}

div#flags{
    display: none;
    position: absolute;
    top: 100%;
    left: 10px;
    cursor: pointer;
    width: 80px;
}

#start .presentation{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;
}

#start .presentation h2{
    font-size: 60px;
    margin: 25px auto;
}

#start .presentation h2 span{font-size: 60px;}

#start .presentation p{
    max-width: 700px;
    margin: 25px auto;
    font-size: 18px;
    font-weight: 600;
}

#start .presentation a{
    text-decoration: none;
    font-weight: 500;
    color: white;
    margin: 25px;
    padding: 20px 25px;
    border: 3px solid white;
    border-radius: 50px;
    transition: 0.7s;
}

#start .presentation a:hover{background-color: red;}

.nav-menu{
    color: white;
    display: none;
    font-size: 30px;
}



/************************************ Sección SOBRE MI ************************************/

#aboutme{
    display: flex;
    padding: 100px 7vw;
    margin: auto;
    background-color: #1f232d;
    color: white;
}

#aboutme .profile-picture{
    max-width: 400px;
    min-width: 400px;
    margin: auto 80px;
}

#aboutme .profile-picture img{
    width: 100%;
    margin-right: 80px;
    padding: 20px;
    background-color: #4d5461;
    border-radius: 20px;
}

#aboutme .aboutme{margin: 0 40px;}

#aboutme .aboutme h2{
    font-size: 38px;
    margin: 20px 0;
}

#aboutme .aboutme h3{
    font-size: 18px;
    margin-bottom: 20px;
}

#aboutme .aboutme p {
    font-size: 14px;
    margin: auto 80px 12px auto;
    text-align: justify;
}

#aboutme .aboutme h1{margin-bottom: 40px;}

#aboutme .aboutme a{
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 30px;
    margin-top: 30px;
    transition: 0.7s;
}

#aboutme .aboutme a:hover{
    background-color: red; 
    color: white
}



/************************************ Sección SERVICIOS ***********************************/

#services{
    padding: 100px 7vw 100px 7vw;
    text-align: center;
    background-color:  #313743;  
}

#services .services-container{
    display: flex;
    justify-content: space-between;
    margin: 30px 80px;
}

#services .services-container .service{
    max-width: 400px;
    background-color: #4d5461;
    padding: 30px;
    margin: 0 5px;
    color: white;
    border-radius: 10px;
    transition: 0.2s;
}

#services .services-container .service:hover{
    box-shadow: 10px 10px 30px 5px #989898, 
               -10px -10px 30px 5px #989898;
}

#services .services-container .icon{
    display: inline-block;
    width: 60px;
    height: 60px;
    padding: 18px 10px;
    border-radius: 50%;
    background-color: #313743;
    color: #d12e36;
    margin-bottom: 20px;
}

#services .services-container h4{
    font-size: 22px;
    margin-bottom: 25px;
}

#services .services-container hr{margin-bottom: 15px;}


/*********************************** Sección HABILIDADES **********************************/

#skills{
    padding: 100px 7vw;
    text-align: center;
    background-color:  #1f232d;
}


#skills .skills-container .row{
    display: flex;
    justify-content:space-between;
    margin: 30px 80px;
}

#skills .skills-container .row .column {
    text-align: left; 
    font-weight: 800;
    color: white;
}

#skills .skills-container .row .column .bar-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#skills .skills-container .bar{
    display: flex;
    justify-content: center;
    border: 1px solid red;
    padding: 2px;
    border-radius: 3px;
    margin-right: 10px;
}

#skills .skills-container .bar .fraction{
    background-color: #2d2d2d;
    width: 1.6vw;
    height: 4.2vh;
    margin-right: 2px;
}

/************************************ Sección PROYECTOS ***********************************/

#projects{
    padding: 100px 7vw;
    margin: auto;
    background-color: #313743;
}

#projects .section-title{text-align: center;}

#projects .row{
    display: flex;
    justify-content: space-between;
    margin: 3vw 80px;
    align-items: stretch;
}

#projects .row .project{
    flex-basis: calc(33.33% - 3vw);
    border: 2px solid white;
    margin: 0 1.5vw;
    position: relative;
    overflow: hidden;
    transition: 0.9s;
}

#projects .row .project:hover{
    transform: scale(1.1);
    z-index: 100;
    border: 2px solid red;
}

#projects .row .project img{
    width: 100%;
    height: 100%;
    object-fit:fill;
    filter: grayscale(1);
    transition: 0.5s;
}

#projects .row .project:hover img {filter: grayscale(0);}

#projects .row .project .project-info{
    position: absolute;
    left: 0;
    bottom: -150px;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    color: red;
    font-size: 22px;
    padding: 10px;
    transition: 0.5s
}

#projects .row .project .project-info p{color: white; font-size: 15px;}

#projects .row .project:hover .project-info{
    bottom: 0;
    cursor: pointer;
}


/************************************ Sección CONTACTO ************************************/

#contact{
    padding: 100px 7vw;
    text-align: center;
    background-color: #1f232d;
}

#contact .form-container .name-mail-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

#contact .form-container .subject-container{margin: auto 80px 15px 80px;}
#contact .form-container .message-container{margin: auto 80px 15px 80px;}

#contact .form-container input,
#contact .form-container textarea{
    padding: 20px;
    border-radius: 20px;
    border: 1px solid black;
    margin-bottom: 15px;
}

#contact .form-container .name-mail-container input {width: 100%;}
#contact .form-container .name-mail-container .name {margin-left: 80px; margin-right: 7px;}
#contact .form-container .name-mail-container .mail {margin-right: 80px; margin-left: 7px;}
#contact .form-container .subject-container .subject {width: 100%;}
#contact .form-container .message-container .message {width: 100%;}

input::placeholder, textarea::placeholder{
    font-size: 17px;
    font-weight: 600;
}

#contact .send-message{
    display: block;
    margin: 80px auto;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    transition: 0.7s;
    padding: 10px 15px;
}

#contact .send-message:hover{
    background-color: red;
    color: white;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 30px 0;
}

footer a{
    text-decoration: none;
    color: white;
    display: inline-block;
    margin: 5px;
    font-size: 25px;
}

.social a:hover{color: red;}
.social div{
    display: inline-block;
    position:relative
}
.social p{
    color: white;
    background-color: red;
    font-weight: 600;
    padding: 2px 5px;
    border-radius: 10px;
    border: 1px solid white;
    position: absolute;   
    top:-100%;
    left:-80px;
    display: none;
}
.social div a:last-child{font-size: 15px;}
.social p:hover{cursor: pointer;}


/************************************* RESPONSIVIDAD **************************************/

@media screen and (max-width: 800px){

    #header-content ul {display: none;}

    #header-content{
        justify-content: space-between;
        align-items: normal;
    }

    .nav-menu{display: block;}

    .nav-menu:hover{
        cursor: pointer;
        color: red;
        transition: 0.7s;
    }

    div.header-responsive{
        display:flex;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 10px 0;
    }

    div.header-responsive ul{
        display: block !important;
        text-align:left;
        margin: 0 1px;
    }

    #aboutme{
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 100px 0.5vw;
    }

    #aboutme .profile-picture img{
        margin-right: auto;
        padding: 20px;
    }

    #aboutme .aboutme{margin: 0 20px;}
 
    #aboutme .aboutme h2{margin: 20px 20px; text-align: left;}
    #aboutme .aboutme h3{margin-left: 20px; text-align: left;}
    #aboutme .aboutme p {margin: auto 20px; text-align: justify;}


    #services {padding: 100px 0.5vw;}

    #services .services-container{
        flex-direction: column;
        margin: 30px 30px;
        align-items: center;
    }

    #services .services-container .service{
        max-width: 400px;
        margin: 10px 0;
    }    

    #skills{padding: 100px 0.5vw;}
       
    #skills .skills-container .row{
        flex-direction: column;
        align-items: center;
        margin: 5px 30px;
    }
    
    #skills .skills-container .row .column {margin: 10px auto;}

    #skills .skills-container .bar .fraction{
        width: 16px;
        height: 5.2vh;
    }

    #projects{padding: 100px 0.5vw;}
    
    #projects .row{
        flex-direction: column;
        align-items: center;
        margin: 5px 30px;
    }
    
    #projects .row .project {margin: 10px 1.5vw;}

    #contact{padding: 100px 0.5vw;} 

    #contact .form-container .subject-container{margin: auto 40px 15px 40px;}
    #contact .form-container .message-container{margin: auto 40px 15px 40px;}
    #contact .form-container .name-mail-container .name {margin-left: 40px; margin-right: 7px;}
    #contact .form-container .name-mail-container .mail {margin-right: 40px; margin-left: 7px;}
}