*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{scroll-behavior: smooth;}

/************************************* Sección INICIO *************************************/

#start{
    background: linear-gradient(rgba(0, 0, 0, 0.6), 
                                rgba(0, 0, 0, 0.6)), 
                                url(Imagenes/018.avif);
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

#start header{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    z-index: 50;
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 15px;
}

.header-content h1{
    color: red; 
    text-align: center;
}

.header-content ul{
    display: flex;
    list-style: none;
    align-items: center;
}

.header-content ul li a{
    text-decoration: none;
    color: white;
    margin: 0 10px;
}

.header-content ul li a:hover{
    color: red;
    transition: 0.7s;
}

.header-content ul li a.active{
    color: red;
    transition: 0.7s;
}

#start .presentation{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

#start .presentation h2{
    font-size: 60px;
    margin: 25px auto;
}

#start .presentation h2 span{
    font-size: 60px;
    color: red;
}

#start .presentation p{
    max-width: 700px;
    margin: 25px auto;
    font-size: 18px;
}

#start .presentation a{
    text-decoration: none;
    color: white;
    margin: 25px;
    padding: 20px 25px;
    border: 2px solid white;
    border-radius: 50px;
    transition: 0.7s;
}

#start .presentation a:hover{background-color: red;}

.nav-menu{
    color: white;
    /*display: none;*/
}



/************************************ Sección SOBRE MI ************************************/

#aboutme{
    display: flex;
    padding: 100px 200px 100px 200px;
    margin: auto;
}

#aboutme .profile-picture{
    max-width: 400px;
    margin: auto 80px;
}

#aboutme .profile-picture img{
    width: 100%;
    margin-right: 80px;
    padding: 20px;
    background-color: #f3f3f3;
    border-radius: 20px;
}

#aboutme .aboutme{margin: 0 40px;}

.section-title{font-size: 22px;}

#aboutme .aboutme h2{
    font-size: 34px;
    margin: 20px 0;
    /*letter-spacing: 2px;*/
}

#aboutme .aboutme h2 span{color: red;}

#aboutme .aboutme h3{
    font-size: 18px;
    margin-bottom: 20px;
    /*letter-spacing: 1px;*/
}

#aboutme .aboutme p{
    font-size: 14px;
    margin: auto 80px 12px auto;  
}

#aboutme .aboutme a{
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 30px;
    margin-top: 30px;
    transition: 0.7s;
}

#aboutme .aboutme a:hover{
    background-color: red; 
    color: white
}


/************************************ Sección SERVICIOS ***********************************/

#services{
    padding: 100px 200px 100px 200px;
    text-align: center;
    background-color: rgb(206, 205, 205);  
}

#services .services-container{
    display: flex;
    justify-content: space-between;
    margin: 30px 80px;
}

#services .services-container .service{
    max-width: 400px;
    background-color: white;
    padding: 30px;
    margin: 0 5px;
    border-radius: 10px;
    transition: 0.2s;
}

#services .services-container .service:hover{
    box-shadow: 10px 10px 20px #4e4e4e, 
               -10px -10px 20px #989898;
}

#services .services-container .icon{
    display: inline-block;
    width: 60px;
    height: 60px;
    padding: 20px;
    border-radius: 50%;
    background-color: #d3d3d3;
    margin-bottom: 20px;
}

#services .services-container h4{
    font-size: 22px;
    margin-bottom: 25px;
}

#services .services-container hr{margin-bottom: 15px;}


/*********************************** Sección HABILIDADES **********************************/

#skills{
    padding: 100px 200px 100px 200px;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}


#skills .skills-container .row{
    display: flex;
    justify-content:space-between;
    margin: 30px 80px;
}

#skills .skills-container .row .column{text-align: left;}

#skills .skills-container .row .column .bar-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#skills .skills-container .bar{
    display: flex;
    justify-content: center;
    border: 1px solid red;
    padding: 2px;
    border-radius: 3px;
    margin-right: 10px;
}

#skills .skills-container .bar .fraction{
    background-color: #2d2d2d;
    
    width: 1.2vw;
    height: 3.2vh;
    margin-right: 2px;
}

/************************************ Sección PROYECTOS ***********************************/

#proyects{
    padding: 100px 200px 100px 200px;
    margin: auto;
}

#proyects .section-title{text-align: center;}

#proyects .row{
    display: flex;
    justify-content: space-between;
    margin: 30px 80px;
}

#proyects .row .proyect{
    max-width: 400px;
    border: 1px solid black;
    margin: 0 10px;
    position: relative;
    overflow: hidden;
}

#proyects .row .proyect img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    filter: grayscale(1);
    transition: 0.5s;
}

#proyects .row .proyect:hover img {filter: grayscale(0);}

#proyects .row .proyect .proyect-info{
    position: absolute;
    left: 0;
    bottom: -100px;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    color: red;
    font-size: 22px;
    padding: 20px;
    transition: 0.5s
}

#proyects .row .proyect:hover .proyect-info{
    bottom: 0;
    cursor: pointer;
}

